../.bash_history
../.bash_logout
../.bashrc
../.cache/
../.config/
../.dbus/
../.gitconfig
../.gnupg/
../.local/
../.mozilla/
../.pam_environment
../.pki/
../.presage/
../.profile
../.python_history
../.rpmdb/
../.ssh/
../.sudo_as_admin_successful
../.viminfo
../.wget-hsts
../.xinputrc
../Desktop/
../Downloads/
../HTMLTestRunner.py
../gitskills/
../linux1/
../linux_work/
../myproc.py
../python_work/
../snap/
../software/
../test1.txt
../test1/

